<p>crear-clinica works!</p>

<h2>Listado de Clínicas</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Camas</th>
      <th>Teléfono</th>
      <th>Ciudad</th>
      <th>Fecha creación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of clinicas">
      <td>{{ c.identificador }}</td>
      <td>{{ c.nombre }}</td>
      <td>{{ c.direccion }}</td>
      <td>{{ c.cantidadCamas }}</td>
      <td>{{ c.telefono }}</td>
      <td>{{ c.ciudad }}</td>
      <td>{{ c.fechaCreacion | date:'yyyy-MM-dd' }}</td>
    </tr>
  </tbody>
</table>

